<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
	<div id="footer-info" class="inner">
	Linked with:&nbsp;&nbsp;&nbsp; 
<a href="http://iosched.com" target="_blank">Rolandz的博客</a>&nbsp;&nbsp;&nbsp;
<a href="http://mritd.me" target="_blank">mritd.me</a>&nbsp;&nbsp;&nbsp;
<a href="http://5-wow.com" target="_blank">Go语言博客</a>
	</div>
</footer>